<h1 class="headline">About</h1>

<h2 class="subheading-2">The App</h2>

<h3 class="subheading-1">Acknowledgements</h3>
<p class="body-1">
Built using the following excellent Free and Open Source Software (FOSS):
</p>
<ul>
  <li><a href="https://angular.io/">Angular 7+</a></li>
  <li><a href="https://material.angular.io/">Angular Material</a></li>
  <li><a href="https://github.com/krallin/tini">tini</a></li>
  <li><a href="">tini</a></li>
</ul>
<h3 class="subheading-1">Progression</h3>
<p class="body-1">
  I wanted to build a front-end only app...
</p>

<h2 class="subheading-2">The Author</h2>
<p class="body-1">
Built by Dan Stough.
</p>
<img src="assets/danielstoughavatarlarge.png"/>