.content {
    width: 800px;
    margin: auto;
}

.book-icon {
    font-size: 24px;
    margin-right: 12px;
}

.mat-tab-links {
    display: flex;
    justify-content: center;
    width: 100%;
}

.stretched-nav-item {
    flex: 2 100;
}

.spacer {
    flex: 1 1 auto;
}