<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon class="book-icon" aria-hidden="false" aria-label="book icon">book</mat-icon>
    <span> FullStory Challenge App - D. K. Stough</span>
    <span class="spacer"></span>
    <button mat-fab color="accent" (click)="toggleRecord()">
        <mat-icon *ngIf="!fsClientSvc.isRecording" class="button-icon" aria-hidden="false" aria-label="record icon" matTooltip="Start FullStory Capture">screen_share</mat-icon>
        <mat-icon *ngIf="fsClientSvc.isRecording" class="button-icon" aria-hidden="false" aria-label="pause icon" matTooltip="Stop FullStory Capture">stop_screen_share</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<nav mat-tab-nav-bar backgroundColor="primary" class="stretched-nav">
    <a routerLink="/instructions" mat-tab-link class="stretched-nav-item" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive"> Instructions </a>
    <a routerLink="/configure" mat-tab-link class="stretched-nav-item"  routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive"> Configure </a>
    <a routerLink="/playground" mat-tab-link class="stretched-nav-item" routerLinkActive #rla3="routerLinkActive" [active]="rla3.isActive"> Playground </a>
    <a routerLink="/support" mat-tab-link class="stretched-nav-item" routerLinkActive #rla4="routerLinkActive" [active]="rla4.isActive"> Support </a>
    <a routerLink="/about" mat-tab-link class="stretched-nav-item" routerLinkActive #rla5="routerLinkActive" [active]="rla5.isActive"> About </a>
</nav>
<div class="content">
    <router-outlet></router-outlet>
</div>
