<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>FullStory Challenge App</span>
  </mat-toolbar-row>
</mat-toolbar>
<nav mat-tab-nav-bar backgroundColor="primary" class="stretched-nav">
    <a mat-tab-link class="stretched-nav-item" active="true"> Instructions </a>
    <a mat-tab-link class="stretched-nav-item"> Configure </a>
    <a mat-tab-link class="stretched-nav-item"> Playground </a>
    <a mat-tab-link class="stretched-nav-item"> Support </a>
    <a mat-tab-link class="stretched-nav-item"> About </a>
</nav>
<router-outlet></router-outlet>
