<h1 class="headline">Configure</h1>

<h2 class="subheading-2">FullStory Client Authentication</h2>
<p class="body-1">
Let's setup the FullStory Client. Consult the <a href="https://help.fullstory.com/develop-js/137379">FullStory JS API</a> for more information on these fields.
</p>

<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>FullStory Client - User Authentication</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="fsIdentityForm" (ngSubmit)="onSubmit()" class="form-full-width">
            <mat-form-field class="full-width">
                <input type="number" matInput placeholder="User ID" formControlName="uid" [value]="fsClientSvc.currentId.uid" required>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="Display Name" formControlName="displayName" [value]="fsClientSvc.currentId.displayName">
            </mat-form-field>
            <mat-form-field class="full-width">
                <input type="email" matInput placeholder="Email" formControlName="email" [value]="fsClientSvc.currentId.email">
            </mat-form-field>
        
            <button class="form-button" mat-raised-button color="primary" type="submit" [disabled]="!fsIdentityForm.valid">Submit</button>
            <button class="form-button side-button" mat-raised-button (click)="onClear()" [disabled]="fsIdentityForm.pristine">Clear Form</button>
            <button class="form-button side-button" mat-raised-button color="accent" (click)="onAnonymize()" [disabled]="fsClientSvc.currentId.uid==null">Make Anonymous</button>
        </form>
    </mat-card-content>
</mat-card>
