<h1 class="headline">Support</h1>

<p class="body-1">
Support Issues can be <a href="https://github.com/DanStough/fullstory-ng-test/issues">viewed on GitHub</a>.
</p>

<h2 class="subheading-2">View Your Sessions</h2>
<p class="body-1">
These sessions are scoped to the currently configured user. Periodically manually refresh to get the newest sessions. 
If you don't want to create your own sessions, try User ID: 456789, Display Name: John Smith.
</p>
<session-table></session-table>

<h2 class="subheading-2">View Support Tickets (All)</h2>
<p class="body-1">
These are all ticket submissions through the application (which are given the "fullstory-session" label).
</p>
<github-table></github-table>
